@import "tailwindcss";

@theme {
  --color-reniec-navy: #001a58;
  --color-reniec-blue: #063fc5;
  --color-reniec-red: #b00045;
  --font-sans: "Aptos", "Trebuchet MS", sans-serif;
}

button:enabled {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
